@import "tailwindcss";
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* background color */
body {
  @apply bg-linear-to-br from-blue-300 via-cyan-100 to-teal-300 text-gray-900 ;
}

.dark body {
  @apply bg-linear-to-br from-black via-indigo-900 to-blue-700 text-gray-100;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}