@import "tailwindcss";
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* background color */
body {
  @apply bg-linear-to-br from-blue-100 via-cyan-100 to-teal-100 text-gray-900 ;
}

