@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light mode */
body {
  /* gradient light background */
  @apply bg-linear-to-b from-blue-500 to-blue-200 text-gray-900;
}

/* Dark mode */
.dark {
  @apply bg-gray-900 text-white;
}

/* Element styles */
h1 {
  @apply text-2xl font-bold text-center py-2 px-4;
}

h2 {
  @apply text-lg font-medium text-center py-2 px-4;
}
